<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Whisper</a>
    <!-- menu -->
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="slide-out" class="side-nav">
      <li><a class="subheader">Menu</a></li>
      <li><a class="waves-effect" routerLink="/dashboard">Dashboard</a></li>
      <li><a class="waves-effect" routerLink="/dashboard/contraceptives">Contraceptives</a></li>
      <li><a class="waves-effect" routerLink="/dashboard/users">Users</a></li>
      <li><a class="waves-effect" routerLink="/dashboard/shipping">Shipping</a></li>
    </ul>
  </div>
</nav>

<!-- Page Layout here -->
<div class="row">
  <div class="col s9 remove-padding">
    <div class="body">
      <div class="row" *ngFor="let conversation of messages">
        <div class="col s5 m5" [ngClass]="conversation.isSender? 'message-out' : 'message-in'" class="chat-bubble">
          <div class="msg-block">
            <div class="card-panel  message message-text">
              <span class="chat-text">
                {{ conversation?.content }}
              </span>
              <span class="timeline">
                {{ conversation?.createdAt | date:'shortTime'}}
              </span>
            </div>
          </div>
        </div><br/>
      </div>
      <div *ngIf="loading" align="center" class="preloader-wrapper big active" style="margin-right: auto !important;margin-left: auto !important;display: block !important;">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <footer class="input_footer">
        <div class="block compose">
          <form [formGroup]="chatForm" class="col s12 m12" (ngSubmit)="sendMessage()" novalidate>
            <div class="row">
              <div class="input-field col s11 text-container">
                <textarea formControlName="content" type="text" placeholder="Write a message" id="textarea1" class="browser-default">
                </textarea>
              </div>
              <div class="col s1">
                <button [hidden]='!chatForm.valid' class="submit_button btn waves-effect waves-light" type="submit" name="action">
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </footer>
    </div>
  </div>

  <div class="col s3 remove-padding" id="side-bar-left">
    <ul class="collection with-header">
        <li class="collection-header">
        <h4>Conversation Info</h4>
         <p>Created at {{conversation?.createdAt | date}}, opened by {{conversation?.startedBy?.firstName}}</p>
        </li>
        <li class="collection-item active" (click)="openModal()"> <i class="material-icons">person_add</i> <span>Add Participant</span></li>        
        <li  class="collection-item" *ngFor="let user of chatParticipants; let i = index">{{user.firstName}} {{user.lastName}}<i class="material-icons secondary-content" 
          (click)="removeRecipient(user, i)">delete</i></li>
      </ul>


      <table class="bordered" *ngIf="assesmentResponse?.appointment?.isAppointment">
        <caption>Appointment info</caption>
          <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Note</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{assesmentResponse?.appointment?.appointmentDate | date}}</td>
              <td>{{assesmentResponse?.appointment?.appointmentTime}}</td>
              <td>{{assesmentResponse?.appointment?.appointmentNote}}</td>
            </tr>
          </tbody>
        </table>

      <ul class="collection ">
          <li class="collection-item active">{{assesmentResponse?.user?.firstName}} Responses on {{assesmentResponse?.contraceptive?.name}} assesment</li> 
      </ul>
      
      <table class="bordered">
        <thead>
          <tr>
              <th>Question</th>
              <th>Answer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assesment of assesmentResponse?.assesments">
            <td>{{assesment?.question?.question}}</td>
            <td>{{assesment?.acceptedAnswer}}</td>
          </tr>
        </tbody>
      </table>
      <div class="card-panel z-depth-1" >{{assesmentResponse?.note}} </div>
    <!-- hide on searching then show searchresult -->
  </div>
</div>



<!-- Edit Modal Structure -->
<div id="modal2" class="modal over-ridemodal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <h6>Add participant</h6>
      <form class="col s12">
            <div class="input-field">
              <i class="material-icons prefix">search</i>
              <input id="icon_prefix"  type="text" placeholder="Search users" (input)="searchTerm$.next($event.target.value)" class="validate">
            </div>
        </form>
      <ul class="collection">
        <li class="collection-item"  *ngFor="let user of searchResult" (click)="getUserInfo(user)">{{user?.firstName | uppercase}} {{user?.lastName | uppercase}} ( {{user.accountType}} )</li>
      </ul>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
    </div>
  </div>

