body,html { height: 100%; }
html {
  background: #e0e0e0;
  font-size: 15px;
  padding-bottom: 50px;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

input.contact {
  width: 100%;
  padding: 0 29px 0 15px;
  position: relative;
  height: 50px;
  top: -36px;
  color: black;
}

.users {
  position: relative;
  width: 100%;
}

.remove-padding {
  padding: 0px !important;
  overflow: scroll;
  height: 90vh;
}

i.search {
  color: black;
  position: relative;
  top: -96px;
  float: right;
  cursor: pointer;
}

.info {
  left: 82%;
}

.addParticipant {
  left: 85%;
}

.addUserHeader {
  padding: 6px;
  background: #E91E63;
  height: 50px;
  overflow-x: visible;
}

.addUserHeader h4{ font-size: 1.3rem; }

.addUserModalClose {
  position: relative;
  float: right;
  top: -40px;
}

.info, .addParticipant {
  box-shadow: none;
  background: none;
  position: relative;
  top: -10px;
}

.chatInfo { font-size: 1rem; }

.dropdown-content li { padding: 6px; }

span.timeline {
  font-size: 10px;
  display: block;
  float: right;
  margin-top: 10px;
  margin-left: 6px;
}

textarea {
  background-color: white;
  border-radius: 5px;
}

.body {
  background-image: url(../../../assets/images/chat-bg.png) !important;;
  background-attachment: fixed;
  background-size: contain;
  height: 85vh;
  overflow: scroll;
}

button.submit_button {
  position: relative;
  top: 16px;
  left: -15px;
}

footer.input_footer {
  background: #E0E0E0;
  height: 75px;
  position: absolute;
  /* width: 100%; */
  /* bottom: 0; */
  bottom: 0;
  /* left: 0; */
  /* right: 0; */
  overflow: hidden;
  width: 75%;
}

.submit_button i {
  font-size: 2rem;
  line-height: inherit;
  color: #E91E63;
  font-weight: bold;
}

.submit_button, .submit_button:hover {
  background: none;
  box-shadow: none;
}

.card-panel {
  border-radius: 10px;
  box-shadow: none;
}

.message-in {
  float: left;
}

.message-out {
  float: right;
}

.message-in .message-text {
  background-color: #fff;
}

.message-out .message-text {
  background-color: #dcf8c6;
}

.message .message-text {
  cursor: text;
  white-space: pre-wrap;
  overflow: hidden;
}

.message-text {
  font-size: 13.6px;
  line-height: inherit;
  word-wrap: break-word;
  color: #262626;
  height: 40px;
  padding: 10px;
}

.chat-bubble {
  padding: 6px 0 8px 0;
  padding-left: 9px;
  padding-right: 7px;
  min-width: 110px;
  box-sizing: border-box;
}

.msg-block {
  margin-bottom: -50%;
}

@media only screen and (min-width: 993px){
  nav a.button-collapse {
    display: block !important;
  }
}

.side-bar-left {
  margin-top: 20px;
 
}

#search {
  display: block;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  height: 45px;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 45px 0 15px;
  border: 0;
}


.search-wrapper {
  margin: 0 12px;
}

.over-ridemodal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 28%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}