<nav>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul id="slide-out" class="side-nav">
    <li><a class="subheader">Menu</a></li>
    <li><a class="waves-effect" routerLink="/dashboard">Dashboard</a></li>
    <li><a class="waves-effect" routerLink="/dashboard/contraceptives">Contraceptives</a></li>
    <li><a class="waves-effect" routerLink="/dashboard/users">Users</a></li>
    <li><a class="waves-effect" routerLink="/dashboard/shipping">Shipping</a></li>

  </ul>
  <!-- Invite user  -->
  <a (click)="addParticipant()" class='btn modal-trigger addParticipant' href="#modal1"><i class="material-icons">add_circle</i></a>

  <!-- Invite user modal  -->
  <div id="modal1" class="modal">
    <div class="modal-header addUserHeader">
      <h4>Add participant</h4>
      <a class="modal-action modal-close addUserModalClose "><i class="material-icons">clear</i></a>
    </div>
    <div class="modal-content">
      <input #fname placeholder="search text goes here" class=" col s9 m9 validate contact browser-default">
      <i class="material-icons search">search</i>
      <div class="collection users">
        <a (click)="getUserInfo(user)" class="collection-item" *ngFor="let user of users | searchFilter: 'firstName' : fname.value.toLowerCase()">{{user.firstName}} {{user.lastName}}</a>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </div>

  <!-- chat info -->
  <a class='dropdown-button btn info' data-activates='dropdown1'><i class="material-icons">info</i></a>

  <!-- Dropdown -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><h4 class="chatInfo"> user: {{this.chatOwner}}</h4></li>
    <li><h4 class="chatInfo"> assesment: {{this.assessmentType}}</h4></li>
  </ul>

  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Whisper</a>
  </div>
</nav>

<div class="body">
  <div class="row" *ngFor="let conversation of messageResponse">
    <div class="col s5 m5" [ngClass]="conversation.isSender? 'message-out' : 'message-in'" class="chat-bubble">
      <div class="msg-block">
        <div class="card-panel  message message-text">
          <span class="chat-text">
            {{ conversation?.content }}
          </span>
          <span class="timeline">
            {{ conversation?.createdAt | date:'shortTime'}}
          </span>
        </div>
      </div>
    </div><br/>
  </div>
  <div *ngIf="loading" align="center" class="preloader-wrapper big active" style="margin-right: auto !important;margin-left: auto !important;display: block !important;">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<footer class="input_footer">
  <div class="row">
    <div class="block compose">
      <form [formGroup]="chatForm" class="col s12 m12" (ngSubmit)="sendMessage()">
        <div class="row">
          <div class="input-field col s11 text-container">
            <textarea (keyup)="onKeyUp($event)" formControlName="content" type="text" placeholder="Write a message" id="textarea1" class="validate browser-default">
            </textarea>
          </div>
          <div class="col s1">
            <button *ngIf="userIsTyping" [disabled]='!chatForm.valid && submitting && isSender' class="submit_button btn waves-effect waves-light" type="submit" name="action">
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</footer>


