<div  class="">
  <div class="row">
    <div class="col m2 total-height">
    </div>
    <div class="col m8 total-height">
      <div class="row">
        <div class="col s4"></div>
        <div class="col s4"><h4>Shipping method</h4></div>
        <div class="col s4"></div>
      </div>
      <div class="col s12 z-depth-1">
        <div class="progress" *ngIf="loading">
          <div class="indeterminate"></div>
        </div>
        <table class="bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Shipping fee</th>
            <th>Shipping code</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let shipping of shippingMethods; let i = index">
            <td>{{shipping?.name}}</td>
            <td>{{shipping?.shippingFee}}</td>
            <td>{{shipping?.shppingCode}}</td>
            <td><a style="cursor:pointer;" class="delete_btn white" (click)="deleteShippingMethod(shipping._id, i)"><i class="material-icons del_icon">delete</i></a></td>
            <td><a style="cursor:pointer;" (click)="openEditModal(shipping)" class="modal-trigger" href="#modal2"><i class="material-icons edit_icon">edit</i></a></td>
          </tr>
        </tbody>
        </table>
        <a class="btn-floating btn-large waves-effect waves-light teal modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
      </div>
    </div>
    <div class="col m2 total-height">
    </div>
  </div>
</div>

<!-- Create Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Add Shipping Method</h4>
    <div class="progress" *ngIf="submitted">
            <div class="indeterminate"></div>
        </div>
        <form [formGroup]="createShippingForm" class="col s12" (ngSubmit)="createShippingMethod()">
          <div class="row">
            <div class="input-field col s4">
              <input id="name" type="text" formControlName="name" class="validate">
              <label for="name">Name</label>
            </div>
            <div class="input-field col s4">
              <input id="shippingFee" type="number" formControlName="shippingFee" class="validate">
              <label for="shippingFee">Price</label>
            </div>
            <div class="input-field col s3">
              <input id="shppingCode" type="number" formControlName="shppingCode" class="validate">
              <label for="shppingCode">Shipping Code</label>
            </div>
          </div>

          <div class="row">
            <button type='submit'  [disabled]='!createShippingForm.valid && !submitted' name='submit' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
          </div>
        </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>

<!-- Edit Modal Structure -->
<div id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Edit Shipping Method</h4>
    <div class="progress" *ngIf="submitted">
            <div class="indeterminate"></div>
        </div>
        <form [formGroup]="updateShippingForm" class="col s12" (ngSubmit)="updateShippingMethods(editParams._id)">
          <div class="row">
            <div class="input-field col s4">
              <input id="name" type="text" formControlName="name" class="validate" [(ngModel)]="editParams.name">
              <label for="name">Name</label>
            </div>
            <div class="input-field col s4">
              <input id="shippingFee" type="number" formControlName="shippingFee" class="validate"
              [(ngModel)]="editParams.shippingFee">
              <label for="shippingFee">Price</label>
            </div>
            <div class="input-field col s3">
              <input id="shppingCode" type="number" formControlName="shppingCode" class="validate"
              [(ngModel)]="editParams.shppingCode">
              <label for="shppingCode">Shipping Code</label>
            </div>
          </div>

          <div class="row">
            <button type='submit'  [disabled]='!updateShippingForm.valid && !submitted' name='submit' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
          </div>
        </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
 