<div  class="">
  <div class="row">
   <div class="col m4 z-depth-3 total-height">
      <ul class="tabs z-depth-1" materialize="tabs">
        <li class="tab col s6"><a class="active" href="#test1">Contraceptives</a></li>
        <li class="tab col s6" (click)="getAssessmentResponses()"><a  href="#test2">Responses</a></li>
      </ul>

      <div id="test1" class="col s12">
        <div class="progress" *ngIf="loading">
          <div class="indeterminate"></div>
        </div>
        <table class="bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contraceptive of contraceptives; let i = index">
            <td><a [routerLink]="['/dashboard/contraceptives', {outlets:{'details':[contraceptive?._id]}}]">{{contraceptive?.name}}</a></td>
            <td>{{contraceptive?.description}}</td>
            <td><a (click)="deleteContracpetive(contraceptive._id, i)" class="">delete</a></td>
            <td><a class="modal-trigger" (click)="openEditModal(contraceptive)">edit</a></td>
          </tr>
        </tbody>
        </table>
        <a class="btn-floating btn-large waves-effect waves-light teal modal-trigger" (click)="openModal()"><i class="material-icons">add</i></a>
      </div>
      <div id="test2" class="col s12">
        <div class="progress" *ngIf="loading">
          <div class="indeterminate"></div>
        </div>

        <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
          <li *ngFor="let response of responses">
            <div class="collapsible-header">
               <i class="material-icons">filter_drama</i> 
              {{response?.user?.firstName + " " + response?.user?.lastName }} took {{response?.contraceptive?.name }} assessment on {{response.createdAt | date}}
            </div>
            <div class="collapsible-body">
              <div class="card-panel z-depth-1" *ngIf="response.note">{{response?.note}} </div>
              <table class="bordered">
                <thead>
                  <tr>
                      <th>Question</th>
                      <th>Accepted Answer</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let assesment of response.assesments">
                    <td>{{assesment.question?.question}}</td>
                    <td>{{assesment?.acceptedAnswer}}</td>
                  </tr>   
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col m4 z-depth-2 total-height">
      <router-outlet name="details"></router-outlet>
    </div>
    <div class="col m4 z-depth-2 total-height">
     <router-outlet name="assessment"></router-outlet>
    </div>
  </div>
</div>

<!-- Create Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Add Contraceptive</h4>
    <div class="progress" *ngIf="submited">
            <div class="indeterminate"></div>
        </div>
        <form [formGroup]="createContraceptiveForm" class="col s12" (ngSubmit)="createContraceptive()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" formControlName="name" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="description" id="description" formControlName="description"  ></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <button type='submit'  [disabled]='!createContraceptiveForm.valid && !submited' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
            </div>
        </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>

<!-- Edite Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Edit Contraceptive</h4>
    <div class="progress" *ngIf="submited">
            <div class="indeterminate"></div>
        </div>
        <form [formGroup]="updateContraceptiveForm" class="col s12" (ngSubmit)="updateContraceptive(editParams._id)">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" [(ngModel)]="editParams.name" formControlName="name" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="description" [(ngModel)]="editParams.description" id="description" formControlName="description"  ></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <button type='submit'  [disabled]='!updateContraceptiveForm.valid && !submited' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
            </div>
        </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
 