<div class="contraceptive-details" *ngIf="loading">
    <div class="progress">
      <div class="indeterminate"></div>
  </div>
</div>

<div *ngIf="!loading">
    <h3>{{contraceptive?.name}}</h3>
    <p>{{contraceptive?.description}}</p>

    <ul class="collection with-header">
        <li class="collection-header"><h4>Assessment</h4></li>
        <a *ngFor="let assessment of assessments" (click)="openAssessment(assessment._id)"  class="collection-item">{{assessment.question}}<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></a>
    </ul>
    <div class="card">
        <form [formGroup]="createAssessmentForm" class="col s12" (ngSubmit)="createAssessment()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="question" type="text" formControlName="question" class="validate">
                    <label for="name">Question</label>
                </div>
            </div>
            <div class="row">
                <button type='submit'  [disabled]='!createAssessmentForm.valid && !submited' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
            </div>
        </form>
    </div>
</div>


