<div  class="">
  <div class="row">
   <div class="col m4 z-depth-3">
      <table class="">
        <thead>
          <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Action</th>
          </tr>
        </thead>

        <tbody>
          
          <tr *ngFor="let contraceptive of contraceptives">
            <td><a [routerLink]="['/dashboard/contraceptives', {outlets:{'details':[contraceptive?._id]}}]">{{contraceptive?.name}}</a></td>
            <td>{{contraceptive?.description}}</td>
            <td><a class="">delete</a></td>
            <td><a class="">edit</a></td>
          </tr>
        </tbody>
      </table>
      <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" (click)="openModal()"><i class="material-icons">add</i></a>
   </div>
   <div class="col m4 z-depth-3">
     <router-outlet name="details"></router-outlet>
   </div>
    <div class="col m4 z-depth-3">
     <router-outlet name="assessment"></router-outlet>
   </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Add Contraceptive</h4>
    <div class="progress" *ngIf="submited">
            <div class="indeterminate"></div>
        </div>
        <form [formGroup]="createContraceptiveForm" class="col s12" (ngSubmit)="createContraceptive()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" formControlName="name" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="description" id="description" formControlName="description"  ></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <button type='submit'  [disabled]='!createContraceptiveForm.valid && !submited' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
            </div>
        </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
 