<div class="flex-container">
    <div class="z-depth-1 grey lighten-4 row flex-item">
        <h4 class="blue-text text-darken-2">Whisper admin login</h4>
        <div class="progress" *ngIf="submited">
            <div class="indeterminate"></div>
        </div>
        <form [formGroup]="loginForm" class="col s12" (ngSubmit)="loginUser()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" formControlName="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" formControlName="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type='submit'  [disabled]='(!loginForm.valid && !submited) || isLogin' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
            </div>
            <div class="row">
                <h4 class="remark">Don't have an account?</h4>
            </div>
            <div class="row">
                <button (click)="gotoSignup()" [disabled]=" isLogin " class='col s12 btn btn-large waves-effect pink accent-3'>Create Account</button>
            </div>
        </form>
    </div>
</div>

