<div class="row ">
  <div class="col m2 total-height"> </div>
  <div class="col m8 total-height remove-padding col s12 z-depth-1">
    <div class="row" style="margin: 0px;">
      <div class="col s3 users-sessions remove-padding">
          <div class="message-header">
              <p><strong>Message</strong></p>
          </div>
          <div class="users-sessions-inner">
            <ul class="collection">
                <li class="collection-item">
                  <p class="title">{{activeRecipiant?.firstName}} {{activeRecipiant?.lastName}}</p>
                </li>
                <li class="collection-item" *ngFor="let thread of userThreads" (click)="loadDataFromParams(thread._id)">       
                    <p class="title">{{thread?.reciepaint?.firstName}} {{thread?.reciepaint?.lastName}}</p>
                 </li>
              </ul>
          </div>
      </div>

      <div class="col s9 users-thread remove-padding">
        <div class="message-header">
          <p><strong>{{activeRecipiant?.firstName}} {{activeRecipiant?.lastName}}</strong></p>
        </div>

        <div class="message-box">
          <div  *ngFor="let message of messages" class="bubble-chat">
            <div [ngClass]="message?.isSender? 'sender' : 'reciever'">
                <div class="user-initials"> <small>{{message.user.firstName}} {{message.user.lastName}}</small> </div>
              <div class="message"><p>{{message.content}}</p> <p class="time">{{message.createdAt | date}}</p></div>
            </div>
          </div>
        </div>
        <div class="send-message-box">
          <div class="row">
            <form [formGroup]="messageForm" class="col s12" (ngSubmit)="submitMessage()">
              <div class="row">
                <div class="input-field col s10">
                  <textarea id="textarea1" formControlName="content" style="border: 0px" class="materialize-textarea" placeholder="Write a message..."></textarea>
                </div>
                <div class="input-field col s2">
                  <button class="btn waves-effect waves-light" [disabled]="!messageForm.valid" type="submit" name="action">Submit
                      <i class="material-icons right">send</i>
                    </button> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
   </div>
  </div>
  <div class="col m2 total-height"></div>
</div>

