html, body {
    height: 100%;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}



.flex-item {
    padding: 5px;
    margin-top: 10%;
    line-height: 20px;
    text-align: center;
    width: 28%;
}