<div class="flex-container">
    <div class="z-depth-1 grey lighten-4 row flex-item">
        <h4 class="blue-text text-darken-2">Whisper admin login</h4>
        <div class="progress" *ngIf="submited">
            <div class="indeterminate"></div>
        </div>
        <form   [formGroup]="signupForm" (ngSubmit)="createUser()" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="firstname" formControlName="firstName" autofocus type="text" class="validate">
                    <label for="firstName">First Name</label>
                </div>
            </div>
              <div class="row">
                <div class="input-field col s12">
                    <input id="lastName" type="text" formControlName="lastName" class="validate">
                    <label for="lastName">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" formControlName="email" autocomplete="false"  class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" formControlName="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type='submit' [disabled]='(!signupForm.valid && !submited) || isRegistering'  class='col s12 btn btn-large waves-effect indigo'>Register</button>
            </div>
        </form>
    </div>
</div>