.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    line-height: 3rem;
    width: 60% !important;
    font-size: 1rem;
    margin: 0px 0px 0px !important;
    margin: 0 0 0px 0;
}

