<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Whisper</a>

    <ul id="nav-mobile" class="left hide-on-med-and-down ">
      <li><a href="#" data-activates="slide-out" class="button"><i class="material-icons">menu</i></a></li>
    </ul>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
    </ul>
  </div>
</nav>

<ul id="tabs-swipe-demo"  materialize="tabs" class="center tabs">
  <li class="tab col s3"><a href="#users" class="active">All Users</a></li>
  <li class="tab col s3"><a href="#admin">Admin</a></li>
  <li class="tab col s3"><a href="#doctors">Doctors</a></li>
  <li class="tab col s3"><a href="#pharmacy">Pharmacies</a></li>
</ul>
<div align="center" *ngIf="loading">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<div id="users" class="col s12 card-panel" [hidden]="loading">
      <table class="highlight">
      <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Location</th>
            <th>Verified</th>
            <th>User Group</th>
            <th>Deleted</th>
            <th>ban</th>
            <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of allUsers">
          <td><a [routerLink]="[user._id]">{{user?.userName}}</a></td>
          <td>{{user?.firstName}}</td>
          <td>{{user?.lastName}}</td>
          <td>{{user?.contact.email}}</td>
          <td>{{user?.contact.city}}</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox" [checked]='user?.verified'>
                <span class="lever"></span>
              </label>
            </div>
          </td>
          <td>Member</td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
          </td>
          <td>
            <div class="switch">
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div></td>
          <td>
            <a class="" [routerLink]="[user._id]"><i class="profile material-icons">person</i></a>
            <a class="" [routerLink]="[user._id, 'edit']"><i class="edit material-icons">edit</i></a>
            <a class=""><i class="delete material-icons">delete</i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <a [routerLink]="['../new']" class="btn-floating btn-large waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
</div>
<div id="admin" class="col s12 red">admin</div>
<div id="doctors" class="col s12 green">doctors</div>
<div id="pharmacy" class="col s12 green">pharmacy</div>

