.profile {
  color:#00897b;
}
.edit {
  color: #3949ab;
}
.delete {
  color: #f44336;
}

.switch label input[type=checkbox]:checked + .lever,
.switch label input[type=checkbox]:checked + .lever:after{
  background-color: #01579b;
}

