.pointer {
    cursor: pointer;
}

#sidenav-overlay {
  display: none !important;
}

nav .brand-logo {
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  position: relative;
  left: 45%;
}

@media only screen and (min-width: 993px){
  nav a.button-collapse {
    display: block !important;
  }
}