.pointer {
    cursor: pointer;
}

#sidenav-overlay {
  display: none !important;
}

@media only screen and (min-width: 993px){
  nav a.button-collapse {
    display: block !important;
  }
}

.notification-indicator {
  position: absolute;
  top: 3px;
  right: 162px;
}