  <div class="container">
    <div class="row">
        <div class="col s4">
          <!-- Promo Content 1 goes here -->
          <div class="card pink darken-1 pointer"  routerLink="/dashboard/contraceptives">
              <div class="card-content white-text">
                <span class="card-title">Contraceptive</span>
                <p>Create, update, delete, and control every part of the contraceptive in the application 
                  including the responses from users
                </p>
              </div>
              <div class="card-action">
                <a href="#">Add a contraceptive</a>
              </div>
            </div>
        </div>
        <div class="col s4">
          <!-- Promo Content 2 goes here -->
          <div class="card blue-grey darken-1 pointer">
              <div class="card-content white-text">
                <span class="card-title">Manage Users</span>
                <p>Manage users includes delete, soft delete, add as administrator, update user info, get the total number of users. etc.</p>
              </div>
              <div class="card-action">
                <a href="#">Add a user</a>
              </div>
            </div>
        </div>
         <div class="col s4">
          <!-- Promo Content 3 goes here -->
         <!-- <div class="card blue-grey darken-1 pointer">
              <div class="card-content white-text">
                <span class="card-title">Doctors</span>
                <p>Seach Doctors, </p>
              </div>
              <div class="card-action">
                <a href="#">TManage Doctors</a>
              </div>
            </div>
        </div> -->

        <div class="col s4">
          <!-- Promo Content 3 goes here -->
         <!-- <div class="card blue-grey darken-1 pointer">
              <div class="card-content white-text">
                <span class="card-title">Chat</span>
                <p>Control every activites on chat client</p>
              </div>
              <div class="card-action">
                <a href="#">Create a room</a>
              </div>
            </div>
        </div>  -->

      </div>
  </div>