/* You can add global styles to this file, and also import other style files */
.button_icon { cursor: pointer; }
.ans_published { float: right; }

#sidenav-overlay {
  display: none !important;
}

nav .brand-logo {
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  position: relative;
  top: -64px;
  left: 45%;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eeeeee;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #fff;
}

input#email, input#password { color: black; }

label.modal_label { margin-top: -30px; }

label.modal_label.active {
    margin-top: 0;
}