<div class="contraceptive-details" *ngIf="loading">
    <div class="progress">
      <div class="indeterminate"></div>
  </div>
</div>


 <ul class="collection with-header">
        <li class="collection-header"><h4>Answers</h4></li>
        <a *ngFor="let answer of assessmentAnswers" class="collection-item">{{answer?.name}}<a href="#!" class="secondary-content"><i class="material-icons">delete</i></a></a>
    </ul>

    


 <form [formGroup]="createAnswerForm" class="col s12" (ngSubmit)="createAnswer()">
    <div class="row">
        <div class="input-field col s12">
            <input id="question" type="text" formControlName="name" class="validate">
            <label for="name">name</label>
        </div>
    </div>

    <div class="row">
         <div class="input-field col s12">
            <select materialize="material_select"  formControlName="hasRelativeQuestion">
              <option value="" disabled selected>Is this answer related to another Question?</option>
              <option  [value]="true">Yes</option>
               <option [value]="false">No</option>
            </select>
        </div>
    </div>

     <div class="row" *ngIf="createAnswerForm.value.hasRelativeQuestion == 'true'">
         <div class="input-field col s12">
            <select materialize="material_select" [materializeSelectOptions]="assessments" formControlName="nextQuestionNumber">
                <option value="" disabled selected>Please select the related question</option>
                <option *ngFor="let option of assessments" [value]="option._id">{{option.question}}</option>
            </select>
        </div>
    </div>

    
    <div class="row">
         <div class="input-field col s12">
            <select materialize="material_select"  formControlName="hasWarning">
              <option value="" disabled selected>Will this answer has a Warning?</option>
              <option  [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
        </div>
    </div>
    

    <div class="row" *ngIf="createAnswerForm.value.hasWarning == 'true'">
        <div class="input-field col s12">
            <input id="warningMessage" type="text" formControlName="warningMessage" class="validate">
            <label for="warningMessage">Please enter warning message</label>
        </div>
    </div>
   <div class="row">
         <div class="input-field col s12">
            <select materialize="material_select"  formControlName="isEditedAnswer">
              <option value="" disabled selected>Is this an editable answer?</option>
              <option  [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="createAnswerForm.value.isEditedAnswer == 'true'">
        <div class="input-field col s12">
            <input id="editedAnswerLabel" type="text" formControlName="editedAnswerLabel" class="validate">
            <label for="editedAnswerLabel">Enter answer label</label>
        </div>
    </div>
    <div class="row">
        <button type='submit'  [disabled]='!createAnswerForm.valid && !submited' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
    </div>
</form>

