<div class="contraceptive-details" *ngIf="loading">
    <div class="progress">
      <div class="indeterminate"></div>
  </div>
</div>

 <p>{{assessmentAnswers.question}} </p>

 <ul class="collection with-header">
  <table class="bordered">
    <thead>
      <tr>
        <th>Answer</th>
        <th>Published</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let answer of assessmentAnswers?._answers; let i = index">
        <td>
            <a class="collection-item">{{answer?.name}}</a>
        </td>
        <td>
          <div class="switch ans_published">
            <label>
              <input #status (change)="updatePublished($event, answer)" [checked]='answer?.published' type="checkbox"><span class="lever"></span>
            </label>
          </div>
        </td>
    
        <td> 
            <a (click)="deleteAnswer(answer._id, i)" class="button_icon secondary-content"><i class="material-icons">delete</i></a>
        </td>
        <td>
            <a href="#modal3" class="button_icon modal-trigger" (click)="updateModal(answer)"><i class="material-icons">edit</i></a>
        </td>
      </tr>      
    </tbody>
  </table>
</ul>

<a class="btn-floating btn-large waves-effect waves-light teal" (click)="toggleBUtton($event.target)"><i class="material-icons">add</i></a>

<form [formGroup]="createAnswerForm" class="col s12" (ngSubmit)="createAnswer()" [hidden]="!showForm">
    <div class="row">
        <div class="input-field col s12">
            <input id="question" type="text" formControlName="name" class="validate">
            <label for="name" class="modal_label">name</label>
        </div>
    </div>



    <div class="row">
         <div class="input-field col s12">
            <select materialize="material_select"  formControlName="hasRelativeQuestion">
              <option value="" disabled selected>Is this answer related to another Question?</option>
              <option  [value]="true">Yes</option>
               <option [value]="false">No</option>
            </select>
        </div>
    </div>


    <div class="row" *ngIf="createAnswerForm.value.hasRelativeQuestion == 'true'">
      <div class="input-field col s12">
         <select materialize="material_select" [materializeSelectOptions]="assesmentQuestions" formControlName="nextQuestionNumber">
             <option value="" disabled selected>Please select the related question</option>
             <option *ngFor="let option of assesmentQuestions" [value]="option._id">{{option.question}}</option>
         </select>
     </div>
 </div>

    <div class="row">
         <div class="input-field col s12">
            <select materialize="material_select"  formControlName="eligible">
              <option value="" disabled selected>Eligibility?</option>
              <option  [value]="true">Eligible</option>
               <option [value]="false">Not Eligible</option>
            </select>
        </div>
    </div>

  
    <div class="row">
         <div class="input-field col s12">
            <select materialize="material_select"  formControlName="hasWarning">
              <option value="" disabled selected>Add Warning?</option>
              <option  [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
        </div>
    </div>
    

    <div class="row" *ngIf="createAnswerForm.value.hasWarning == 'true'">
        <div class="input-field col s12">
            <input id="warningMessage" type="text" formControlName="warningMessage" class="validate">
            <label for="warningMessage">Please enter warning message</label>
        </div>
    </div>
   <div class="row">
         <div class="input-field col s12">
            <select materialize="material_select"  formControlName="isEditedAnswer">
              <option value="" disabled selected>Is this an editable answer?</option>
              <option  [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="createAnswerForm.value.isEditedAnswer == 'true'">
        <div class="input-field col s12">
            <input id="editedAnswerLabel" type="text" formControlName="editedAnswerLabel" class="validate">
            <label for="editedAnswerLabel">Enter answer label</label>
        </div>
    </div>
    <div class="row">
        <button type='submit'  [disabled]='!createAnswerForm.valid && !submited' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
    </div>
</form>

<div id="modal3" class="modal answer_modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Edit Answer</h4>
    <div class="progress" *ngIf="submited">
      <div class="indeterminate"></div>
    </div>

    <form [formGroup]="updateAnswerForm"  class="col s12" (ngSubmit)="updateAnswer()">
      <div class="row">
        <div class="input-field col s12">
          <input id="question" type="text" formControlName="name" class="validate" [(ngModel)]="answerParams.name">
          <label for="name" class="modal_label">name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select materialize="material_select" [(ngModel)]="answerParams.hasRelativeQuestion" formControlName="hasRelativeQuestion">
            <option value="" disabled selected>Is this answer related to another Question?</option>
            <option  [value]="true" [selected]="answerParams.hasRelativeQuestion==true">Yes</option>
            <option [value]="false" [selected]="answerParams.hasRelativeQuestion==false">No</option>
          </select>
          <label for="hasRelativeQuestion">Is this answer related to another Question?</label>
        </div>
      </div>

    

      <div class="row" *ngIf="updateAnswerForm.value.hasRelativeQuestion == 'true'">
        <div class="input-field col s12">
          <select materialize="material_select" [(ngModel)]="answerParams.nextQuestionNumber" [materializeSelectOptions]="assesmentQuestions" formControlName="nextQuestionNumber">
            <option value="" disabled selected>Please select the related question</option>
            <option *ngFor="let option of assesmentQuestions" [value]="option._id" [selected]="answerParams.nextQuestionNumber==option._id">{{option.question}}</option>
          </select>
          <label for="nextQuestionNumber">Please select the related question</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <select materialize="material_select"  [(ngModel)]="answerParams.eligible" formControlName="eligible">
            <option value="" disabled selected>Eligibility?</option>
            <option  [value]="true" [selected]="answerParams.eligible==true">Eligible</option>
            <option [value]="false" [selected]="answerParams.eligible==false">Not Eligible</option>
          </select>
          <label for="eligible">Eligibility</label>
        </div>
      </div>

      
      <div class="row">
        <div class="input-field col s12">
          <select materialize="material_select" [(ngModel)]="answerParams.hasWarning" formControlName="hasWarning">
            <option value="" disabled selected>Add Warning?</option>
            <option [value]="true" [selected]="answerParams.hasWarning==true">Yes</option>
            <option [value]="false" [selected]="answerParams.hasWarning==false">No</option>
          </select>
          <label for="hasWarning">Add Warning?</label>
        </div>
      </div>
      

      <div class="row" *ngIf="updateAnswerForm.value.hasWarning == 'true'">
        <div class="input-field col s12">
          <input id="warningMessage" type="text" formControlName="warningMessage" class="validate" [(ngModel)]="answerParams.warningMessage"> 
          <label for="warningMessage">Please enter warning message</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select materialize="material_select" [(ngModel)]="answerParams.isEditedAnswer" formControlName="isEditedAnswer">
            <option value="" disabled selected>Is this an editable answer?</option>
            <option  [value]="true" [selected]="answerParams.isEditedAnswer==true">Yes</option>
            <option [value]="false" [selected]="answerParams.isEditedAnswer==false">No</option>
          </select>
          <label for="isEditedAnswer">Is this an editable answer?</label>
        </div>
      </div>
      <div class="row" *ngIf="updateAnswerForm.value.isEditedAnswer == 'true'">
        <div class="input-field col s12">
          <input id="editedAnswerLabel" type="text" formControlName="editedAnswerLabel" class="validate" [(ngModel)]="answerParams.editedAnswerLabel">
          <label for="editedAnswerLabel">Enter answer label</label>
        </div>
      </div>
      <div class="row">
        <button type='submit'  [disabled]='!updateAnswerForm.valid && !submited' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>

